/bootstrap export-ignore
/tests export-ignore
LICENSE export-ignore
docker-compose.yml export-ignore
composer.lock export-ignore
phpunit.xml export-ignore
.env.testing export-ignore
README.md export-ignore
pint.json export-ignore